*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    border: border-box;
    font-family: "Cabin" , sans-serif;
}

/* navbar */

.navbar{
    height: 60px;
    background-color: #131921;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.navlogo{
    height: 100px;
    width: 115px;
    margin-right: 5px;
}

.logo{
    height: 100%;
    width: 100%;
    background-image: url(/images/amazon_logo.png);
    background-size: cover;
}

.border{
    border: 1px solid transparent;
    border-radius: 3px;
    height: 50px;
}

.border:hover{
    border: 1px solid #FFFFFF;
}

/* navaddress */

.navaddress{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.addfirst{
    margin-left: 5px;
    color: #CCCCCC;
    font-size: 0.8rem;
}

.addsec{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 4px;
    font-weight: bold;
}

.addicon{
    margin-top: 13px;
}

/* navsearch */

.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 760px;
    height: 40px;
    border-radius: 4px;
    margin-left: 29px;
}

.searchselect{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding: 7px;
}

.searchinput{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 14px;
}

.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbc57;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.3rem;
    color: #333333;
    padding: 4px;
}

.navsearch:hover{
    border: 2px solid orange;
}

/*  */

.navsignin{
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.navreturn{
    margin-left: 25px;
    display: flex;
    align-items: center;
}

span{
    font-size: 0.8rem;
}

.navsec{
    font-size: 0.95rem;
    font-weight: 700;
}

.fa-cart-shopping{
    font-size: 30px;
}

.navcart{
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 17px;
    display: flex;
    align-items: center;
}

/* end of navbar */

/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    color: #FFFFFF;
}

.panelall{
    display: flex;
    align-items: center;
}

.panalops p{
    display: inline;
    padding: 10px;
}

.panalops{
    width: 80%;
    font-size: 0.9rem;
}

.panaldeals{
    font-size: 0.95rem;
    font-weight: 500;
}

/* end of panel */


/* hero section */

.herosection{
    background-image: url(/images/hero_section.jpg);
    background-size: cover;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heromessage{
    color: #000000;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 80%;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

.heromessage a {
    color: #002e44;
}

/* end of hero section */


/* shop section */

.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E2E7E6;
}

.box{
    width: 23%;
    height: 385px;
    background-color: #FFFFFF;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.boximage{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
}

.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}

.boxcontent p{
    color: #007185;
    display: flex;
    align-items: flex-end;
}

/* end of shop section */

/* footer */

footer{
    margin-top: 15px;
}

.footpanel1{
    background-color: #37475A;
    color: #FFFFFF;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.backtop{
    text-decoration: none;
}

.footpanel1:hover{
    background-color: #485769;
}

.footpanel2{
    background-color: #222f3d;
    color: #FFFFFF;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
}

ul a{
    display: block;
    font-size: 0.9rem;
    color: #DDDDDD;
    text-decoration: none;
    margin-top: 10px;
}

ul a:hover{
    text-decoration: underline;
}

.footpanel3{
    border-top: 1px solid white;
    background-color: #222f3d;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.footlogo{
    height: 60px;
    width: 120px;
}

.footpanel3 a{
    margin-left: 6px;
    border: 1px solid #DDDDDD;
    color: #DDDDDD;
    font-size: 0.73rem;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
}
.footpanel4{
    background-color: #131921;
    color: #FFFFFF;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.pages a{
    color: #FFFFFF;
    text-decoration: none;
}

.copywrite{
    padding: 5px;
}